################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SbC51CaoDanBinaryToHex/v16
/bin
/obj
/SbC51CaoDanBinaryToHex.csproj.user
*.pfx
/.vs/BinPP/v16
*.user
